div.highlight-none pre {
    color: var(--color-foreground-muted);
}
div.highlight-none div.highlight {
    background: var(--color-background-primary);
    border-left-style: solid;
    border-radius: 0px;
    border-color: var(--color-foreground-foreground);
    border-width: 0.15rem;    
}
.highlight .m {
    color: inherit;
    font-weight: inherit;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%
}
